.GithubInfo {
    width: 512px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    overflow: hidden;
    
    .parsing-info{
        color: blue;
        font-size: 1.3rem;
        align-items: center;
        display: flex;
        justify-content: center;
    }
}